.contents {
  margin-top: 1vh;
  color: white;
}
.info {
  color: white;
  height: 100%;
  position: static;
}
.action {
  position: absolute;
  bottom: 0px;
}
.tab {
  text-align: center;
  background: #363c46;
  margin-top: 2vh;
  color: white;
  /* padding: 0.5rem; */
  /* font-weight: bold; */
  font-size: 18px;
  height: 2.5rem;
  cursor: pointer;
}
.tab .col {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.tab .col.on {
  background: #282c34;
}
